body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}
.login-container{
    padding: clamp(20px,3vw,200px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
}
.input{
    width: clamp(500px, 50vw ,1000px);
}
.input input{
    margin-bottom: 20px;
}
.buttons{
    border-bottom: 2px solid rgb(0, 0, 0, .2);
}
.buttons a{
    text-decoration: none;
}
.register-btn{
    text-align: center;
}

#login{
    background-color: var(--miscellaneous_buttons);
}
#register{
    background-color: var(--accent_color);
    border: none;
    color: white;
}
#register:hover{
    background-color: var(--accent_highlight);
}

#show_pass{
    height: 100%;
    background-color: transparent;
}
